{
    "parser": "babel-eslint",
    "plugins": ["react"],
    "extends": ["airbnb"],
    "rules": {
      "react/jsx-filename-extension": 0,
      "import/prefer-default-export": 0,
      "camelcase": 0
    },
    "globals": {
      "fetch": true,
      "window": true,
      "document": true,
      "localStorage": true
    }
  }